.header{
    background-color: #f8f8f8;
    border-bottom: 1px solid #dbdbdb !important;
}
.note{
    border-bottom: 1px solid #dbdbdb !important;
    list-style: none; 
    cursor: pointer;
}
.sidebar{
    height: calc(100vh - 4rem);
}